  </head>
  <body>
    <div class="wrapper">
    <header>
      <h1 class="title">{{ site.title | default: site.github.repository_name }}</h1>
    </header>
    <div id="container">
      <p class="tagline"><a href="https://github.com/SidVal/feedly-no-img/" title="Feedly No Img">{{ site.description | default: site.github.project_tagline }}</a></p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/SidVal/feedly-no-img/issues/new?labels=comments&milestone=1&assignee=SidVal" class="code" target="_new">Issues, suggestions?</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
